<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Age In</title>
</head>
<body>
    <form action="age-in" method="GET">
        <input action="age-in" type="text" name="age" id="age" placeholder="Enter Your Date Of Birth">
        <input type="text" name="year" id="year" placeholder="Enter Random Year">
        <input type="submit" value="submit">
    </form>
    <p>You will be {{total}} year old in {{B}}</p>
</body>
</html>